<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-3">
                </div>
                <div class="card">
                    <div class="header">
                        <h4 class="title">Nuevo Estacionamiento</h4>
                    </div>
                    <div class="content">
                        <form [formGroup]="form" (ngSubmit)="guardar($event)">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Nombre
                                            <span class="error" *ngIf="form.get('nombre').errors && form.get('nombre').touched">
                                                <span *ngIf="form.get('nombre').hasError('required')">
                                                    Es un campo requerido
                                                </span>
                                            </span>
                                        </label>
                                        <input formControlName="nombre" type="text" class="form-control" placeholder="Nombre">
                                    </div>

                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Dirección
                                            <span class="error" *ngIf="form.get('direccion').errors && form.get('direccion').touched">
                                                <span *ngIf="form.get('direccion').hasError('required')">
                                                    Es un campo requerido
                                                </span>
                                            </span>
                                        </label>
                                        <input formControlName="direccion" type="text" class="form-control" placeholder="Dirección">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Latitud
                                            <span class="error" *ngIf="form.get('latitud').errors && form.get('latitud').touched">
                                                <span *ngIf="form.get('latitud').hasError('required')">
                                                    Es un campo requerido
                                                </span>
                                            </span>
                                        </label>
                                        <input formControlName="latitud" type="number" class="form-control" placeholder="Latitud">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Longitud
                                            <span class="error" *ngIf="form.get('longitud').errors && form.get('longitud').touched">
                                                <span *ngIf="form.get('longitud').hasError('required')">
                                                    Es un campo requerido
                                                </span>
                                            </span>
                                        </label>
                                        <input formControlName="longitud" type="number" class="form-control" placeholder="Longitud">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Teléfono
                                            <span class="error" *ngIf="form.get('telefono').errors && form.get('telefono').touched">
                                                <span *ngIf="form.get('telefono').hasError('required')">
                                                    Es un campo requerido
                                                </span>
                                            </span>
                                        </label>
                                        <input formControlName="telefono" type="text" class="form-control" placeholder="Teléfono">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Precio/Minuto
                                            <span class="error" *ngIf="form.get('precioPorMinuto').errors && form.get('precioPorMinuto').touched">
                                                <span *ngIf="form.get('precioPorMinuto').hasError('required')">
                                                    Es un campo requerido
                                                </span>
                                            </span>
                                        </label>
                                        <input formControlName="precioPorMinuto" type="number" class="form-control" placeholder="Precio/Minuto">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Techado
                                            <span class="error" *ngIf="form.get('esTechado').errors && form.get('esTechado').touched">
                                                <span *ngIf="form.get('esTechado').hasError('required')">
                                                    Es un campo requerido
                                                </span>
                                            </span>
                                        </label>
                                        <br>
                                        <mat-slide-toggle 
                                            class="example-margin" 
                                            [color]="color"
                                            formControlName="esTechado">
                                        </mat-slide-toggle>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Cámaras de seguridad
                                            <span class="error" *ngIf="form.get('tieneCamaraSeguridad').errors && form.get('tieneCamaraSeguridad').touched">
                                                <span *ngIf="form.get('tieneCamaraSeguridad').hasError('required')">
                                                    Es un campo requerido
                                                </span>
                                            </span>
                                        </label>
                                        <br>
                                        <mat-slide-toggle 
                                            class="example-margin" 
                                            [color]="color"
                                            formControlName="tieneCamaraSeguridad">
                                        </mat-slide-toggle>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Habilitado
                                            <span class="error" *ngIf="form.get('habilitado').errors && form.get('habilitado').touched">
                                                <span *ngIf="form.get('habilitado').hasError('required')">
                                                    Es un campo requerido
                                                </span>
                                            </span>
                                        </label>
                                        <br>
                                        <mat-slide-toggle 
                                            class="example-margin" 
                                            [color]="color"
                                            formControlName="habilitado">
                                        </mat-slide-toggle>
                                    </div>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-info btn-fill pull-right">Guardar
                                Estacionamiento</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>