.card .ocupado, .card .disponible{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  font-size: 70px;
  line-height: 200px;
  text-align: center;
  margin: auto;
}

.disponible{
    background: green;
    color: #fff;
}

.ocupado{
    background: red;
    color: #fff;
}
