
<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="header">
                      <h4 class="title">AUTOS EN EL ESTACIONAMIENTO <strong>{{estacionamientosOcupados.length}}</strong>  </h4>
                  </div>
                  <br>
                  <div >
                    <div class="row">
                       <div class="col-sm-1 " *ngFor="let item of estacionamientosOcupados">
                         <img  src="../../../assets/img/ocupado.png" class="center"  width="100" (click)="clickOcupados(item)" data-toggle="modal" data-target="#SalidaVehiculo">
                         <br>
                         <span class="patenteVehiculo"><strong>{{item.patenteVehiculo}}</strong></span>
                       </div>
                    </div>
                 </div>
              </div>
          </div>
          <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">ESTACIONAMIENTOS DISPONIBLES <strong>{{estacionamientosDesocupados.length}}</strong></h4>
                </div>
                <br>
               <div >
                   <span *ngFor="let item of estacionamientosDesocupados">
                       <img src="../../../assets/img/disponible.png" alt="" width="100" (click)="clickDesocupado(item)" data-toggle="modal" data-target="#AgregarVehiculo">
                   </span>
                </div>
            </div>
        </div>
          
      </div>
  </div>
</div>




  <!-- Modal para agregar vehiculo en el estcionamiento-->
  <div class="modal fade" id="AgregarVehiculo" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">AGREGAR VEHICULO</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <form #agregarAutoForm= "ngForm">
              <div class="form-group col-xs-6" >
                <label for="exampleInputEmail1">Patente de Vehiculo</label>
                <input type="text" class="form-control" maxlength="6" name="patenteVehiculo" [(ngModel)]="autoEstacionado.patenteVehiculo" value="{{autoEstacionado.patenteVehiculo}}" pattern="([a-z-A-Z]{4}[0-9]{2})|([a-z-A-Z]{2}[0-9]{4})" required placeholder="Ingrese Patente Valida">
              </div>
              <div class="form-group col-xs-6">
                <label for="exampleInputPassword1">Fecha Ingreso Vehiculo</label>
                <input type="text" class="form-control" name="fechaLlegada"  [(ngModel)]="autoEstacionado.fechaLlegada" value="{{autoEstacionado.fechaLlegada}}" disabled>
              </div>
             </form>
  
          </div>
         
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary" [disabled]="agregarAutoForm.form.invalid" (click)="agregarAuto()">Ingresar Vehiculo</button>
        </div>
      </div>
    </div>
  </div>

 
 <!-- Modal para sacar vehiculo-->
 <div class="modal fade" id="SalidaVehiculo" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">QUITAR VEHICULO</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <form #agregarAutoForm= "ngForm">

            <div class="form-group col-xs-6" >
              <label for="exampleInputEmail1">Patente de Vehiculo</label>
              <input type="text" class="form-control" name="patenteVehiculo" [(ngModel)]="autoEstacionadoSaliendo.patenteVehiculo" value="{{autoEstacionadoSaliendo.patenteVehiculo}}" disabled >
            </div>

            <div class="form-group col-xs-6" >
              <label for="exampleInputEmail1">Total a Pagar</label>
              <input type="text" class="form-control" name="totalaPagar" [(ngModel)]="autoEstacionadoSaliendo.pagoEstacionamineto" value="{{autoEstacionadoSaliendo.pagoEstacionamineto}}" disabled >
            </div>
            
            <div class="form-group col-xs-6">
              <label for="exampleInputPassword1">Fecha Ingreso Vehiculo</label>
              <input type="text" class="form-control" name="fechaLlegada"  [(ngModel)]="autoEstacionadoSaliendo.fechaLlegada" value="{{autoEstacionadoSaliendo.fechaLlegada}}" disabled>
            </div>

            <div class="form-group col-xs-6">
              <label for="exampleInputPassword1">Fecha Salida Vehiculo</label>
              <input type="text" class="form-control" name="fechaRetirada"  [(ngModel)]="autoEstacionadoSaliendo.fechaRetirada" value="{{autoEstacionadoSaliendo.fechaRetirada}}" disabled>
            </div>

           </form>

        </div>
       
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" (click)="quitarAuto()" >Salida de Vehiculo</button>
      </div>
    </div>
  </div>
