<div class="main-content" *ngIf="user!=null">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8" *ngIf="user.rol=='ADMINISTRADOR'">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Mi Perfil</h4>
                        <p class="category">{{user.rol}}</p>
                    </div>
                    <div class="content">
                        <form>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>UID</label>
                                        <input type="text" class="form-control" disabled placeholder="UID"
                                            value={{user.uid}}>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Display Name</label>
                                        <input type="text" class="form-control" disabled placeholder="Display Name"
                                            value={{user.displayName}}>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Email</label>
                                        <input type="email" class="form-control" disabled placeholder="Email"
                                            value={{user.email}}>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Foto URL</label>
                                        <input type="text" class="form-control" disabled placeholder="Foto"
                                            value={{user.photoURL}}>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Rol</label>
                                        <input type="text" disabled class="form-control" placeholder="Rol"
                                            value={{user.rol}}>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" disabled class="btn btn-info btn-fill pull-right">Actualizar
                                Perfil</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-8" *ngIf="user.rol=='ESTACIONAMIENTO'">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Mi Perfil</h4>
                        <p class="category">{{user.rol}}</p>
                    </div>
                    <div class="content">
                        <form [formGroup]="form" (ngSubmit)="guardar($event)">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>ID</label>
                                        <input type="text" formControlName="id" class="form-control" disabled
                                            placeholder="ID">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Dirección
                                            <span class="error" *ngIf="form.get('direccion').errors && form.get('direccion').touched">
                                                <span *ngIf="form.get('direccion').hasError('required')">
                                                    Es un campo requerido
                                                </span>
                                            </span>
                                        </label>
                                        <input type="text" formControlName="direccion" class="form-control"
                                            placeholder="Dirección" >
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Nombre
                                            <span class="error" *ngIf="form.get('nombre').errors && form.get('nombre').touched">
                                                <span *ngIf="form.get('nombre').hasError('required')">
                                                    Es un campo requerido
                                                </span>
                                            </span>
                                        </label>
                                        <input type="text" formControlName="nombre" class="form-control"
                                            placeholder="Nombre" >
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Precio/Minuto
                                            <span class="error" *ngIf="form.get('precioPorMinuto').errors && form.get('precioPorMinuto').touched">
                                                <span *ngIf="form.get('precioPorMinuto').hasError('required')">
                                                    Es un campo requerido
                                                </span>
                                            </span>
                                        </label>
                                        <input type="number" formControlName="precioPorMinuto" class="form-control"
                                            placeholder="Precio/Minuto" >
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Teléfono
                                            <span class="error" *ngIf="form.get('telefono').errors && form.get('telefono').touched">
                                                <span *ngIf="form.get('telefono').hasError('required')">
                                                    Es un campo requerido
                                                </span>
                                            </span>
                                        </label>
                                        <input type="text" formControlName="telefono" class="form-control"
                                            placeholder="Teléfono" >
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Techado
                                            <span class="error" *ngIf="form.get('esTechado').errors && form.get('esTechado').touched">
                                                <span *ngIf="form.get('esTechado').hasError('required')">
                                                    Es un campo requerido
                                                </span>
                                            </span>
                                        </label>
                                        <br>
                                        <mat-slide-toggle class="example-margin" [color]="color"
                                            formControlName="esTechado">
                                        </mat-slide-toggle>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Cámaras de seguridad
                                                <span class="error" *ngIf="form.get('tieneCamaraSeguridad').errors && form.get('tieneCamaraSeguridad').touched">
                                                    <span *ngIf="form.get('tieneCamaraSeguridad').hasError('required')">
                                                        Es un campo requerido
                                                    </span>
                                                </span>
                                        </label>
                                        <br>
                                        <mat-slide-toggle class="example-margin" [color]="color"
                                            formControlName="tieneCamaraSeguridad">
                                        </mat-slide-toggle>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Habilitado
                                            <span class="error" *ngIf="form.get('habilitado').errors && form.get('habilitado').touched">
                                                <span *ngIf="form.get('habilitado').hasError('required')">
                                                    Es un campo requerido
                                                </span>
                                            </span>
                                        </label>
                                        <br>
                                        <mat-slide-toggle 
                                            class="example-margin" 
                                            [color]="color"
                                            disabled
                                            formControlName="habilitado">
                                        </mat-slide-toggle>
                                    </div>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-info btn-fill pull-right">Actualizar Perfil</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
                <div class="card">
                    <div class="content">
                        <form [formGroup]="formCupos" (ngSubmit)="guardarCupos($event)">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>ID</label>
                                        <input type="text" disabled formControlName="idEstacionamiento" class="form-control"
                                            placeholder="ID">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Cupos</label>
                                        <input type="number" [disabled]= "!validCupos" formControlName="cuposTotales" class="form-control"
                                            placeholder="Cupos">
                                    </div>
                                </div>
                            </div>
                            <button type="submit"  [disabled]= "!validCupos" class="btn btn-info btn-fill pull-right">Actualizar Cupos</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-user">
                    <div class="image">
                        <img src="https://ununsplash.imgix.net/photo-1431578500526-4d9613015464?fit=crop&fm=jpg&h=300&q=75&w=400"
                            alt="..." />
                    </div>
                    <div class="content">
                        <div class="author">
                            <a href="#">
                                <img class="avatar border-gray" src={{user.photoURL}} alt="..." />

                                <h4 class="title">{{user.displayName}}<br />
                                    <small>{{user.email}}</small>
                                </h4>
                            </a>
                        </div>
                    </div>
                    <hr>
                    <div class="text-center">
                        <button href="#" class="btn btn-simple"><i class="fa fa-facebook-square"></i></button>
                        <button href="#" class="btn btn-simple"><i class="fa fa-twitter"></i></button>
                        <button href="#" class="btn btn-simple"><i class="fa fa-google-plus-square"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>