

  <div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        
                    </div>
                    <div class="content table-responsive table-full-width">
                        <mat-form-field>
                            <mat-label>FILTRO</mat-label>
                            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium">
                          </mat-form-field> 
                        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table table-hover table-striped ">
  
                            <!-- Position Column -->
                            <ng-container matColumnDef="correo">
                              <th mat-header-cell *matHeaderCellDef> CORREO </th>
                              <td mat-cell *matCellDef="let element"> {{element.correo}} </td>
                            </ng-container>
                          
                            <!-- Name Column -->
                            <ng-container matColumnDef="fecha">
                              <th mat-header-cell *matHeaderCellDef> FECHA </th>
                              <td mat-cell *matCellDef="let element"> {{element.fecha}} </td>
                            </ng-container>
                          
                            <!-- Weight Column -->
                            <ng-container matColumnDef="nombreLugar">
                              <th mat-header-cell *matHeaderCellDef> NOMBRE LUGAR </th>
                              <td mat-cell *matCellDef="let element"> {{element.nombreLugar}} </td>
                            </ng-container>
                          
                           
                          
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                          </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
