<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Usuarios</h4>
                        <a [routerLink]="['/nuevo-usuario']"><button class="btn btn-info btn-fill pull-right">Agregar usuario</button></a>
                    </div>
                    <div class="content table-responsive table-full-width">
                          <table class="table table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>Email</th>
                                        <th>Habilitado</th>
                                        <th>Estacionamiento</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let usuario of usuarios">
                                        <td>{{usuario.email}}</td>
                                        <td>
                                            <img *ngIf="usuario.habilitado==false" src="../../assets/img/cruz.png" height="25" width="25">
                                            <img *ngIf="usuario.habilitado==true" src="../../assets/img/tick.png" height="25" width="25">
                                        </td>
                                        <td>{{this.utils.buscarEstacionamientoPorId(usuario.estacionamiento, this.estacionamientos).nombre}}</td>
                                        
                                       
                                        <td><button class="btn btn-info btn-fill pull-right" (click)="editar(usuario.id)">Editar</button></td>
                                    </tr>
                                </tbody>
                          </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
