<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-3">
                </div>
                <div class="card">
                    <div class="header">
                        <h4 class="title">Editar Administrador</h4>
                    </div>
                    <div class="content">
                        <form [formGroup]="form" (ngSubmit)="guardar($event)">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>ID
                                        </label>
                                        <input disabled formControlName="id" type="text" class="form-control" placeholder="ID">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Correo
                                            <span class="error" *ngIf="form.get('correo').errors && form.get('correo').touched">
                                                <span *ngIf="form.get('correo').hasError('required')">
                                                    Es un campo requerido
                                                </span>
                                            </span>
                                        </label>
                                        <input formControlName="correo" type="text" class="form-control" placeholder="Correo">
                                    </div>
                                </div>
                            </div>

                            <div class="row">

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Habilitado
                                            <span class="error" *ngIf="form.get('habilitado').errors && form.get('habilitado').touched">
                                                <span *ngIf="form.get('habilitado').hasError('required')">
                                                    Es un campo requerido
                                                </span>
                                            </span>
                                        </label>
                                        <br>
                                        <mat-slide-toggle 
                                            class="example-margin" 
                                            [color]="color"
                                            formControlName="habilitado">
                                        </mat-slide-toggle>
                                    </div>
                                </div>
                            </div>

                            <button type="submit" [disabled]= "!idValido" class="btn btn-info btn-fill pull-right">Actualizar
                                Administrador</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>