  <div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        
                    </div>
                    <div class="content table-responsive table-full-width">
                        <mat-form-field>
                            <mat-label>FILTRO</mat-label>
                            <input matInput (keyup)="applyFilter($event)">
                          </mat-form-field> 
                        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table table-hover table-striped ">
  
                            <ng-container matColumnDef="estacionamientoId">
                                <th mat-header-cell *matHeaderCellDef> ID ESTACIONAMIENTO </th>
                                <td mat-cell *matCellDef="let element"> {{element.estacionamientoId}} </td>
                               
                            </ng-container>
                            
                            <ng-container matColumnDef="fecha">
                                <th mat-header-cell *matHeaderCellDef> FECHA </th>
                                <td mat-cell *matCellDef="let element"> {{element.fecha}} </td>
                            </ng-container>
                            
                            <ng-container matColumnDef="minutos">
                              <th mat-header-cell *matHeaderCellDef> MINUTOS </th>
                              <td mat-cell *matCellDef="let element"> {{element.minutos}} </td>
                            </ng-container>
                          
                            <ng-container matColumnDef="precio">
                              <th mat-header-cell *matHeaderCellDef> PRECIO/MINUTO </th>
                              <td mat-cell *matCellDef="let element"> {{element.precio}} </td>
                            </ng-container>

                            <ng-container matColumnDef="total">
                                <th mat-header-cell *matHeaderCellDef> TOTAL </th>
                                <td mat-cell *matCellDef="let element"> {{element.total}} </td>
                               
                            </ng-container>
                           
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            
                          </table>
                          <table class="table table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>TOTAL</th>
                                    <th class="PrecioTotal">{{totalSimulacion }}</th>
                                </tr>
                            </thead>
                      </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
