/* Structure */
table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  .mat-table {
    background: white !important;
  }

  th.mat-header-cell {
    text-align: left;
    color: #9A9A9A !important;
}

.mat-cell, .mat-footer-cell {
  color: black;
}

.mat-elevation-z8 {
   box-shadow: 0px 0px 0px 0px !important;
}

th.PrecioTotal {
  text-align: left;
  padding-left: 82% !important;
  font-size: 15px !important;
  color: black;
}