<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Estacionamientos</h4>
                        <a [routerLink]="['/nuevo-estacionamiento']"><button class="btn btn-info btn-fill pull-right">Agregar estacionamiento</button></a>

                    </div>
                    <div class="content table-responsive table-full-width">
                          <table class="table table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Dirección</th>
                                        <th>Teléfono</th>
                                        <th>Latitud</th>
                                        <th>Longitud</th>
                                        <th>Precio/Minuto</th>
                                        <th>Techado</th>
                                        <th>Cámara seguridad</th>
                                        <th>Habilitado</th>
                                        <th>Editar</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let estacionamiento of estacionamientos">
                                        <td>{{estacionamiento.nombre}}</td>
                                        <td>{{estacionamiento.direccion}}</td>
                                        <td>{{estacionamiento.telefono}}</td>
                                        <td>{{estacionamiento.latitud}}</td>
                                        <td>{{estacionamiento.longitud}}</td>
                                        <td>{{estacionamiento.precioPorMinuto}}</td>
                                        <td>
                                            <img *ngIf="estacionamiento.esTechado==false" src="../../assets/img/cruz.png" height="25" width="25">
                                            <img *ngIf="estacionamiento.esTechado==true" src="../../assets/img/tick.png" height="25" width="25">
                                        </td>
                                        <td>
                                            <img *ngIf="estacionamiento.tieneCamaraSeguridad==false" src="../../assets/img/cruz.png" height="25" width="25">
                                            <img *ngIf="estacionamiento.tieneCamaraSeguridad==true" src="../../assets/img/tick.png" height="25" width="25">
                                        </td>
                                        <td>
                                            <img *ngIf="estacionamiento.habilitado==false" src="../../assets/img/cruz.png" height="25" width="25">
                                            <img *ngIf="estacionamiento.habilitado==true" src="../../assets/img/tick.png" height="25" width="25">
                                        </td>
                                        <td><button class="btn btn-info btn-fill pull-right" (click)="editar(estacionamiento.id)">Editar</button></td>
                                    </tr>
                                </tbody>
                          </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
