<!-- <div class="col-md-12 background">
    <div class="row">
        <div class="col-md-8 login">
            <div class="card">
                <div class="header">
                    <h4 class="title">Iniciar Sesión</h4>
                </div>
                <div class="content">
                    <div>
                        <button (click)="authService.GoogleAuth()" type="submit" class="btn btn-info btn-fill pull-center"><img width="30" src="../../../assets/img/google.png">Iniciar Sesión con Google</button>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 -->
 <div class="body"></div>
 <div class="grad"></div>
 <div class="header">
     <div>Estacionate<span>En</span>Chillán</div>
 </div>
 <br>
 <div class="login">
    <button (click)="authService.GoogleAuth()" type="submit" class="btn btn-info btn-fill pull-center"><img width="30" src="../../../assets/img/google.png">Iniciar Sesión con Google</button>
         <!-- <input type="text" placeholder="username" name="user"><br>
         <input type="password" placeholder="password" name="password"><br>
         <input type="button" value="Login"> -->
 </div>