<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Administradores</h4>
                        <a [routerLink]="['/nuevo-administrador']"><button class="btn btn-info btn-fill pull-right">Agregar administrador</button></a>
                    </div>
                    <div class="content table-responsive table-full-width">
                          <table class="table table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Correo</th>
                                        <th>Habilitado</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let administrador of administradores">
                                        <td>{{administrador.id}}</td>
                                        <td>{{administrador.correo}}</td>
                                        <td>
                                            <img *ngIf="administrador.habilitado==false" src="../../assets/img/cruz.png" height="25" width="25">
                                            <img *ngIf="administrador.habilitado==true" src="../../assets/img/tick.png" height="25" width="25">
                                        </td>
                                        <td>
                                            <button class="btn btn-info btn-fill pull-right" (click)="editar(administrador.id)">Editar</button>
                                        </td>
                                    </tr>
                                </tbody>
                          </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
